header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header__direction {
    display: flex;
    justify-content: space-around;
    width: 1440px;
}

.logo {
    height: 47px;
    width: 167px;
}

.header__menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header__logo__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 112px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-right: 50px;
}

.ul-container {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    display: flex;
    justify-content: center;
    height: 646px;
    width: 100%;
}

.section1__direction {
    width: 1440px;
    height: 100%;
    position: relative;
}

.background__image__section1 {
    background-image: url(../styles/img/background.jpg);
    height: 646px;
}

.section1__direction .background__image__section1 {
    display: flex;
    justify-content: center;
}

.section1__feature__container {
    position: absolute;
    top: 440px;
    left: 1024px;
    background-color: rgba(76, 76, 214);
    height: 190px;
    width: 416px;
}

.button__back__section1 {
    height: 40px;
    width: 208px;
    background-color: rgb(3, 3, 65);
    color: white;
}

.button-direction {
    display: flex;
}

.text__section1 {
    text-align: center;
    font-size: 24px;
}

.feature__projects {
    text-align: center;
}

.Architecture {
    margin-top: 0px;
}

.arrow_right {
    transform: scale(-1, 1)

}

.button__back__section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__left {
    margin-right: 5px;
    margin-left: 5px;
}

.h1__section1 {
    position: absolute;
    top: 230px;
    left: 230px;
    font-size: 65px;
}

.h1__section1drct {
    top: 280px;
}


.section2 {
    width: 100%;
    height: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2__servies__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.section2__reputation {
    padding-left: 20px;
    padding-top: 20px;
    height: 200px;
    width: 300px;
    border: 1px solid rgba(77, 63, 63, 0.24);
    border-radius: 2%;
}

.section2__reputation1 {
    margin-right: 66px;
}

.section2__reputation2 {
    margin-left: 66px;
}



.h3__section2__reputation {
    height: 70px;
    text-align: center;
}

.section3 {
    height: 945px;
    width: 100%;
    position: relative;
}

.section3__container {
    width: 1440px;
    display: flex;
    justify-content: center;
}

.bg__section3 {
    background-image: url(../styles/img/backgroundMan.jpg);
    height: 669px;
    width: 902px;
    position: absolute;
    width: 902px;
    height: 669px;
    left: calc(50% - 902px/2 - 155px);
    top: calc(50% - 669px/2 - 64px);
}

.section3__block2__container {
    position: relative;
    background-color: rgb(68, 68, 180);
    width: 488px;
    height: 523px;
    border-radius: 1%;
    position: absolute;
    width: 488px;
    height: 523px;
    left: calc(50% - 488px/2 + 364px);
    top: 147px;
}

.button__section3 {
    position: absolute;
    width: 219px;
    height: 53px;
    left: 40px;
    top: 410px;
    font-size: 17px;
    color: rgb(68, 68, 180);
    font-weight: bold;
}

.section3__text1__position {
    position: absolute;
    width: 388px;
    height: 207px;
    left: 40px;
    top: 80px;
}

.section3__text1__position2 {
    position: absolute;
    width: 388px;
    height: 207px;
    left: 40px;
    top: 240px;
}

.section3__about__us {
    position: absolute;
    width: 159px;
    height: 42px;
    left: 40px;
    top: 20px;
}

.section3__text1drct1 {
    margin-top: -15px
}

.section3__text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.section4 {
    height: 608px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section4__container {
    display: flex;
    text-align: center;
    height: 608px;
    width: 1440px;
}

.section4__posts {
    width: 271px;
    height: 181px;
    background-color: #2947A9;
}

.section4__container {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.section4__posts {
    display: inline-block;
    width: 271px;
    height: 181px;
    background-color: #2947A9;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 48px;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    border-radius: 4px;
    color: white;
  }

.post1 {
    margin-right: 98px;
    background-color: white;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    border-radius: 4px;
    color: #2947A9;
}

.post3 {
    margin-left: 98px;
    background-color: white;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    border-radius: 4px;
    color: #2947A9;
}

.post4 {
    margin-right: 98px;
}

.post5{
    background-color: white;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    border-radius: 4px;
    color: #2947A9;
}

.post6 {
    margin-left: 98px;
}


.stick__section4 {
    width: 60px;
    height: 2px;
    background-color: #E0E3EB;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.image__post__direction {
    margin-top: 50px;
}

