body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header-logo img {
    height: 47px;
    width: 167px;
}

.header__menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 112px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-right: 50px;
}

.link__active {
    color: #F9995D;
}

.ul-container {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.university {

    height: 646px;
    background-image: url(../styles/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.university_container {
    position: relative;
    width: 1440px;
    display: flex;
    justify-content: center;
}

.feature__container {
    position: absolute;
    top: 453px;
    left: 1024px;
    background-color: #3559C7;
    height: 190px;
    width: 416px;
}

.back {
    height: 40px;
    width: 208px;
    background-color: #292E3D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    margin-top: 38px;
}

.feature__container p {
    text-align: center;
    font-size: 24px;
}

.feature__projects {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.Architecture {
    margin-top: 20px;
    color: white;
}

.arrow_right {
    transform: scale(-1, 1)

}



.arrow__left {
    margin-right: 5px;
    margin-left: 5px;
}

.university h1 {
    position: absolute;
    top: 230px;
    left: 230px;
    font-size: 65px;
}


.reputation {
    width: 100%;
    height: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servies-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.reviews {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: auto;
    width: 300px;
    border: 1px solid rgba(77, 63, 63, 0.24);
    border-radius: 2%;
    margin-top: 50px;
}



.reviews p {
    margin-top: 18px;
    color: #858EAD;
    font-size: 16px;
    margin-bottom: 40px;
}

.reviews h1 {
    margin-top: 18px;
    color: #3D445C;
    font-size: 20px;
}



.reputation h3 {
    text-align: center;
    color: #292E3D;
    font-size: 36px;
    font-weight: 700;
}

.about-us {
    height: 945px;
    position: relative;
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.background__about-us {
    background-image: url(../styles/img/backgroundMan.jpg);
    height: 669px;
    width: 902px;
    position: absolute;
    width: 902px;
    height: 669px;
    left: calc(50% - 902px/2 - 155px);
    top: calc(50% - 669px/2 - 64px);
}

.about-us-block2 {
    position: relative;
    background-color: #2947A9;
    width: 488px;
    height: 523px;
    border-radius: 1%;
    position: absolute;
    width: 488px;
    height: 523px;
    left: calc(50% - 488px/2 + 364px);
    top: 147px;
}

.about-us-block2 button {
    position: absolute;
    width: 219px;
    height: 53px;
    left: 40px;
    top: 410px;
    font-size: 17px;
    color: rgb(68, 68, 180);
    font-weight: bold;
}

.position-text1 {
    position: absolute;
    width: 388px;
    height: 207px;
    left: 40px;
    top: 130px;
    color: #FFFFFF;
}

.section3__text1__position2 {
    position: absolute;
    width: 388px;
    height: 207px;
    left: 40px;
    top: 240px;
    font-size: 20px;
}

.about-us-block2 h1 {
    position: absolute;
    width: 159px;
    height: 42px;
    left: 40px;
    top: 50px;
    color: #FFFFFF;
    font-size: 36px;
}

.section3__text1drct1 {
    margin-top: -15px
}

.position-text1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.opportunities {
    height: 608px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opportunities__container {
    text-align: center;
    padding-top: 122px;
    height: 608px;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.opportunities__posts {
    height: 181px;
    background-color: #2947A9;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    border-radius: 4px;
    color: white;
    margin-bottom: 50px;
    margin-right: 98px;
    flex-direction: column;
    width: calc(100% / 3 - 6px - 100px);
  }

.opportunities__posts:nth-child(odd) {
    background-color: white;
    box-shadow: 0px 0px 37px -2px rgba(4, 5, 8, 0.05);
    border-radius: 4px;
    color: #2947A9;
}

.opportunities__posts:nth-child(3n + 3) {
    margin-right: 0;
}

.stick__section4 {
    width: 60px;
    height: 2px;
    background-color: #E0E3EB;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.image__post__direction {
    margin-top: 50px;
}

.merits {
    height: 723px;
    width: 1440px;
    position: relative;
    box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
    margin: 0 auto;
}

.merits__2block-container h1 {
    position: absolute;
    width: 359px;
    height: 140px;
    right: 137px;
    top: 202px;
    color: #2947A9;
    font-size: 60px;
}

.merits__2block-container p {
    overflow-wrap: break-word;
    width: 330px;
    font-size: 20px;
    position: absolute;
    width: 330px;
    height: 74px;
    right: 166px;
    top: 382px;
    color: #525B7A;
}

.merits__2block-container button {
    position: absolute;
    width: 176px;
    height: 53px;
    right: 320px;
    top: 523px;
    background-color: #2947A9;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}


.section5__image2 {
    position: absolute;
    width: 79px;
    height: 79px;
    left: calc(130% - 79px/2 - 501.5px);
    top: -30px;
}

.medals__merits {
    height: 150px;
    width: 280px;
    border: 1px solid white;
    box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
    padding-left: 30px;
    padding-top: 30px;
}

.medals__merits:nth-child(1) {
    position: absolute;
    width: 280px;
    height: 155px;
    left: calc(50% - 280px/2 - 68px);
    top: 192px;
    background-color: #FFFFFF;
    z-index: 4;
}

.medals__merits:nth-child(2) {
    position: absolute;
    width: 361px;
    height: 155px;
    left: calc(50% - 361px/2 - 327.5px);
    top: 291px;
    background-color: #FFFFFF;
    z-index: 2;

}

.medals__merits:nth-child(3) {
    position: absolute;
    width: 276px;
    height: 155px;
    left: calc(50% - 276px/2 - 124px);
    top: 434px;
    background-color: #FFFFFF;
    z-index: 3;
}

.medals__merits:nth-child(4) {
    position: absolute;
    width: 333px;
    height: 155px;
    left: calc(50% - 333px/2 - 292.5px);
    top: 529px;
    background-color: white;
    z-index: 1;
}


.section5__image1 {
    position: absolute;
    width: 97px;
    height: 97px;
    left: calc(80% - 97px/2 + 51.5px);
    top: -35px;
}

.medal__container {
    position: relative;
}

.medals__merits h1 {
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.medals__merits p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #667299;
    margin-top: 10px;
}

.stick__section5 {
    width: 7px;
    height: 28px;
    background-color: #F9995D;
}

.section5__image3 {
    position: absolute;
    width: 93px;
    height: 93px;
    left: calc(100% - 93px/2 - 11.5px);
    top: -35px;
}

.section5__image4 {
    position: absolute;
    width: 84px;
    height: 84px;
    left: calc(130% - 84px/2 - 129px);
    top: 110px;
}

.our-projects {
    width: 100%;
    height: 300px;
    background-image: url(../styles/img/bgsection6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.our-projects button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 232px;
    height: 53px;
    font-size: 18px;
}

.our-projects__content h2 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.our-projects__content p {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.our-projects__content span {
    text-decoration: underline;
}



.section7 {
    height: 1098px;
    width: 100%;
}

.container7 {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.section7 {
    width: 100%;
    height: 1098px;
    display: flex;
    justify-content: center;
}

.section7__block-right {
    width: 1024px;
    height: 100%;
    padding-top: 170px;
    padding-left: 112px;

}

.images1 {
    margin-right: 32px;
    margin-bottom: 32px;
}

.images3 {
    margin-right: 32px;
}

.images2 {
    margin-bottom: 32px;
}

.images__section7 {
    width: 384px;
}

.button-section7 {
    width: 295px;
    height: 64px;
    background: #292E3D;
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    margin-top: 32px;


}

.button2 {
    margin-left: 20px;
}

.buttons__section7 {
    display: flex;
    align-items: center;
}

.ellipse__container {
    margin-left: 33px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.ellipse {
    margin-right: 16px;
}

.section7__block1 {
    width: 416px;
    height: 100%;
    padding-top: 88px;
    padding-left: 112px;
}

.section7__block1 h1 {
    font-size: 36px;
    color: #292E3D;
    font-style: normal;
    font-weight: 700;

}

.text__all {
    border-left: 4px solid #2947A9;
    padding-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #2947A9;
    margin-top: 40px;
}


.text__section7 {
    font-weight: 500;
    font-size: 24px;
    color: #C2C7D6;
    margin-left: 16px;
    margin-top: 20px;
}

.form {
    width: 100%;
    height: 632px;
}

.form-container {
    width: 1440px;
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    font-weight: 700;
    font-size: 36px;
    color: #292E3D;
}

.container-text {
    text-align: center;
}

.form-container p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    color: #292E3D;
    margin-bottom: 38px;
}

.tables {
    background-color: #FFFFFF;
}

.forms-container form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 624px;
    margin: 0 auto;
}

.forms-container input{
    height: 41px;
    width: calc(1440px - 32px - 424px - 424px - 280px);
    height: 41px;
    margin-right: 32px;
    margin-bottom: 20px;
}

.textarea {
    width: 592px;
    height: 135px;
}

.message {
    margin-left: -30px;
}

.form-button {
    margin: 0 auto;
    margin-top: 55px;
}

.form-button button {
    background: #2947A9;
    border-radius: 2px;
    color: #FFFFFF;
    width: 271px;
    height: 53px;
}

.last-section {
    width: 100%;
    height: 377px;
    display: flex;
}

.last-section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-left: 112px;
    padding-bottom: 79.5px;
    padding-right: 112px;
}

.last-section-container span {
    font-weight: 500;
    font-size: 20px;
    color: #2947A9;
    font-variant: all-small-caps;
    margin-right: 30px;
}

.last-section-container p {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 32px;
}

.last-section-container input {
    width: 282px;
    height: 41px;

}

.last-section-block2 button {
    background: #F9995D;
    border-radius: 4px;
    width: 136px;
    height: 41px;
    margin-left: 8px;
}

.last-section-block2 p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #2947A9;
}


.last-section-block2 div {
    display: flex;
}

.footer {
    width: 100%;
    height: 70px;
    background: #2947A9;
}

.footer-container {
    width: 1440px;
    display: flex;
    align-items: center;
}


.footer-container p{
    margin-top: 30px;
    font-size: 16px;
}


.div img{
    margin-right: 20px;
    margin-top: -5px;
}